<!DOCTYPE html>
<html>
<head>

	<title> Mario, Gonzalez-Sauri</title>
	<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
  			tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
		});
	</script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>
<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Affiliation</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
    		<li><a href="mailto:mglezsauri@gmail.com">email</a></li>
    		<li><a href="https://github.com/Wario84/wario84.github.io">github.io/wario84</a></li>
			</ul>
		</footer>
	</body>
</html>

